<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    div{
      background: purple;
    }
  </style>
</head>
<body>
  <div style="width: 500px;">
    <div style="display: block;width: 400px;">
      123456
    </div>
    <div style="display: inline-block;width: 200px;">
      123456
    </div>
    <div style="display: inline-block;width: 200px;">
      123456
    </div>
  </div>
</body>
</html>